@import "@fontsource/open-sans";
@import "@fontsource/open-sans/600.css";
@import "@fontsource/libre-baskerville";

@import "./variables.scss";
$color_text_label: #8B9798;

@page {
	@bottom-center {
		content: 'Oliver Paraskos';
	}

	@bottom-right {
		content: 'Page ' counter(page);
	}
}

p,
em,
img,
span,
div,
address,
strong,
sub,
sup,
dl,
table,
legend,
form,
ol,
ul,
li,
b,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
aside,
footer,
header,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}


aside,
footer,
header,
nav,
section {
	display: block;
}

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

body {
	font-family: $font-family-regular;
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media screen {
		color: $color_text_default;
		background: $color_background;
	}

	@media print {
		color: #444;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	a {
		font-weight: inherit;
	}
}

h1 {
	font-family: $font-default-bold;
	font-weight: normal;
	font-size: 38px;
	line-height: 42px;
	margin-bottom: 12px;
	letter-spacing: -1px;
	color: $color_sea_green;
}

h2 {
	font: 600 30px/36px $font-default-bold;
	margin-bottom: 6px;
	color: $color_sea_green;
}

h3 {
	font: 600 25px/30px $font-default-bold;
	color: $color_turquoise_green;
	margin-bottom: 12px;
}

h4,
h5,
h6 {
	font-family: $font-default-bold;
	font-weight: normal;
	color: $color_turquoise_green;
}

h4 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 6px;
}

h5 {
	font-size: 18px;
	line-height: 30px;
}

h6 {
	font-size: 14px;
	line-height: 30px;
}


p {
	margin: 0 0 30px 0;

	img {
		margin: 0;
	}

	a {
		line-height: inherit;

		&:visited {
			line-height: inherit;
		}
	}
}

em {
	font: italic 15px/30px $font-default-italic;
}

img {
	max-width: 100%;
	height: auto;
}

strong,
b {
	font: 600 15px/30px $font-default-bold;
}

dl {
	margin: 12px 0;
}

ol {
	margin-bottom: 24px;
	margin-top: 12px;
	list-style: decimal;
	margin-left: 30px;

	ol {
		margin: 6px 0 6px 30px;

		li {
			margin-bottom: 6px;
		}
	}

	ul {
		margin: 6px 0 6px 30px;

		li {
			margin-bottom: 6px;
		}
	}
}

ul {
	margin-bottom: 24px;
	margin-top: 12px;
	list-style: none outside;

	ul {
		margin: 6px 0 6px 30px;

		li {
			margin-bottom: 6px;
		}
	}

	ol {
		margin: 6px 0 6px 30px;

		li {
			margin-bottom: 6px;
		}
	}
}

li {
	line-height: 18px;
	margin-bottom: 12px;
}

fieldset,
form {
	margin-bottom: 24px;
}

label,
legend {
	font: 16px/24px $font-default-bold;
	margin: 12px 0;
	color: $color_text_label;
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


footer {
	@media print {
		display: none;
	}
}

time {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	&:before {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	&:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}

hr {
	border: solid #E3E3E3;
	border-width: 1px 0 0;
	clear: both;
	margin: 11px 0 30px;
	height: 0;
}

a {
	text-decoration: none;
	outline: 0;
	color: $color_primary;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;

	&:visited {
		text-decoration: none;
		outline: 0;
		color: $color_primary_visited;
		-webkit-transition: color .3s ease-in-out;
		-moz-transition: color .3s ease-in-out;
		-o-transition: color .3s ease-in-out;
		transition: color .3s ease-in-out;
	}

	&:hover,
	&:active,
	&:focus {
		color: $color_primary_hover;
	}
}

.button {
	font: 16px/30px $font-default-bold;
	background: $color_primary;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 0;
	color: $color_white;
	padding: 12px 20px;
	margin-bottom: 18px;
	border: none;
	cursor: pointer;
	height: auto;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;

	&:visited {
		font: 16px/30px $font-default-bold;
		background: $color_primary_visited;
		display: inline-block;
		text-decoration: none;
		letter-spacing: 0;
		color: $color_white;
		padding: 12px 20px;
		margin-bottom: 18px;
		border: none;
		cursor: pointer;
		height: auto;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
	}

	&:hover,
	&:active,
	&:focus {
		background: $color_primary_hover;
		color: $color_white;
	}
}

.row {
	width: 96%;
	max-width: 1020px;
	margin: 0 auto;

	.row {
		width: auto;
		max-width: none;
		margin: 0 -20px;
	}

	&:before {
		content: " ";
		display: table;
	}

	&:after {
		content: " ";
		display: table;
		clear: both;
	}

	.one {
		width: 8.33333%;
	}

	.two {
		width: 16.66667%;
	}

	.three {
		width: 25%;
	}

	.four {
		width: 33.33333%;
	}

	.five {
		width: 41.66667%;
	}

	.six {
		width: 50%;
	}

	.seven {
		width: 58.33333%;
	}

	.eight {
		width: 66.66667%;
	}

	.nine {
		width: 75%;
	}

	.ten {
		width: 83.33333%;
	}

	.eleven {
		width: 91.66667%;
	}

	.twelve {
		width: 100%;
	}
}

.column {
	position: relative;
	padding: 0 20px;
	min-height: 1px;
	float: left;
}

.columns {
	position: relative;
	padding: 0 20px;
	min-height: 1px;
	float: left;
}

.column.centered {
	float: none;
	margin: 0 auto;
}

.columns.centered {
	float: none;
	margin: 0 auto;
}

.row.collapsed {
	>.column {
		padding: 0;
	}

	>.columns {
		padding: 0;
	}
}

.column.collapsed {
	padding: 0;
}

.columns.collapsed {
	padding: 0;
}

[class*="column"] {
	+ {
		[class*="column"] {
			&:last-child {
				float: right;
			}
		}

		[class*="column"].end {
			float: right;
		}
	}
}

@media only screen and (max-width: $mobile-max-width) {
	.row {
		margin: 0 auto;
		padding: 0;

		.row {
			width: auto;
			max-width: none;
			margin: 0 -30px;
		}
	}

	.column {
		width: auto !important;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding: 0 30px;
	}

	.columns {
		width: auto !important;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding: 0 30px;
	}

	[class*="column"] {
		+ {
			[class*="column"] {
				&:last-child {
					float: none;
				}
			}
		}
	}
}

@media print {
	.main-col {
		width: 100% !important;
		;
	}
}