@import "../../variables.scss";

$color_1: #0D0D0D;
$color_3: #313131;
$color_5: #313941;

#resume {
	background: #fff;
	padding-top: 90px;
	padding-bottom: 72px;
	overflow: hidden;
	color: $color_1;
	h1 {
		font: 18px/24px $font-family-regular;
		text-transform: uppercase;
		letter-spacing: 1px;
		span {
			border-bottom: 3px solid $color_sea_green;
			padding-bottom: 6px;
		}
	}
	.header-col {
		padding-top: 9px;
	}
	.main-col {
		padding-right: 10%;
	}
	.work {
		h3 {
			a {
				color: $color_turquoise_green;
				&:visited {
					color: $color_turquoise_green;
				}
			}
		}
	}
	.info {
		font: 16px/24px 'librebaskerville-italic', serif;
		color: $color_5;
		margin-bottom: 18px;
		margin-top: 9px;
		span {
			margin-right: 5px;
			margin-left: 5px;
		}
	}
	.highlights {
		list-style: disc;
		padding-left: 2rem;
		font-size: 90%;
	}
}
.education {
	margin-bottom: 48px;
	padding-bottom: 24px;
	border-bottom: 1px solid #E8E8E8;
}
.work {
	margin-bottom: 48px;
	padding-bottom: 24px;
	border-bottom: 1px solid #E8E8E8;
}

ul.skills {
	em {
		font-weight: bold;;
	}
}